/* remove margin and padding */
*{
    margin:0;
    padding:0;
}
/* fonts */
@font-face {
    font-family: 'righteousregular';
    src: url('../webfonts/Righteous-Regular.woff2') format('woff2'),
         url('../webfonts/Righteous-Regular.woff') format('woff');
         url('../webfonts/Righteous-Regular.ttf') format('ttf');
         url('../webfonts/Righteous-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

/* variable for color */
:root{
    --primary: #000;
    --secondary:#f6d601;
    --text:#fff;
    --acent:#3e3e3e;
    /* font variable */
    --primary-fonts:"righteousregular", cursive;
    --secondary-fonts:"popins", sens-serif;
}
.section-padding{
    padding: 7% 0;   
}
.container{
    width: 1140px;
    margin:0 auto;
    overflow: hidden;
}
/* headerpart */
#headerpart {
    width: 85px;
    padding: 4% 6%;
}
.header-left {
    width: 50%;
    float: left;
}
.header-right {
    width: 50%;
    float: right;
    text-align: right;
}
/* menu */
.menu ul li {
    display: inline-block;
    padding: 0 10px;
}
ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: .3s all;
}
.menu ul li a:hover {
    color: #f6d601;
}
a.Sign.in-btn {
    font-size: 18px !important;
    text-transform: capitalize!important;
    background-color: #f6d601;
    text-align: center;
    padding: 11px 21px;
    border-radius: 50px;
    display: inline-block;
}
a.Sign.in-btn:hover {
    color:var(--text) !important;
}
a.Sign.in-btn i {
    color:var(--primary);
    padding: 0 8px;
}
a.Sign.in-btn i:hover {
    color:var(--text);
}
/* banner_section */
#banner_section {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: top;
    text-align: center;
    color: #fff;
    font-family: var(--primary);
    padding: 11% 0;
    margin-bottom: 7%;
}
.title-primary{
    font-family: var(--primary-fonts);
    font-size: 60px;
    padding-bottom: 28px;
    line-height: 90px;
    font-weight: bold;
    font-weight: 700;
}
.title-secondary {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
}
.content-inner h3 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #f6d601;
}
.content-inner p,.variety_inner p  {
    font-size: 20px;
    padding-bottom: 7%;
    line-height: 1.3em;
    font-family: var(--primary-fonts);
}

.btn-read {
    padding: 17px 55px;
    color: #000;
    background: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.7s all;
    font-family: var(--primary-fonts);
    display: inline-block;
}
.btn-read:hover {
    background-color:#f6d601;
    border-radius: 30px;
}
/* variety of cars */
secetion#variety_of_car {
    text-align: center;
    font-family: var(--primary-fonts);
}
.car {
    float: left;
    width: 33%;
    padding-bottom: 7%;
}
.cars_name {
    float: left;
    width: 33%;
    padding: 2% 0;
    background-color: var(--secondary);
}
/* search car area */
#search_car_area {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 16% 0;
    margin-top: 6%;
}
.search_conten {
    text-align: center;
    float: right;
    width: 50%;
    padding: 20px;
    background: var(--text);
}
.search_conten h2 {
    text-align: center;
    padding-bottom: 10%;
    font-family: var(--primary-fonts);
    font-size: 50px;
}
select {
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    border: 1px solid #ddd;
}
input.submitbtn {
    background: #000;
    color: #fff;
    border: 0;
    padding: 16px 43px;
    text-align: center;
    font-size: 15px;
}
input.btn-read {
    background: #000;
    color: #fff;
    border: 0;
}
/* why choose us */
section#why\ choose\ us {
    text-align: center;
}
h2.title {
    font-size: 50px;
    padding-bottom: 4%;
    font-family: var(--primary-fonts);
    color: var(--acent);
}
.points-list {
    text-align: center;
    padding: 27px 0;
}
.points-list h2 {
    background: #000;
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid yellow;
    padding: 30px;
    margin-bottom: 25px;
}
p.sub_title {
    font-size: 20px;
    font-family: var(--primary-fonts);
    color:var(--acent);
}
 .point p{
     font-size: 20px;
     color:var(--acent);
 }
 /* testimonial_section */
 section#testimonial {
    background: #23262D;
    text-align: center;
}
#testimonial h2.title {
    color: #fff;
}
.slider_inner img {
    display: inline-block !important;
    width: 20%!important;
    position: relative;
    top: 55px;
}
.bgslide_inner {
    background: #fff;
    padding: 100px 40px;
}
h2.degignation {
    padding: 11px 0;
    color: var(--secondary);
}
p.testimonial {
    font-size: 22px;
    color: #544d4d;
    line-height: 1.5em;
    font-weight: 400;
    padding: 19px;
    padding-bottom: 0;
}
img.testimonial-image {
    width: 5%! important;
}
/* footer_section */
section#footer_section {
    background: #fff;
    text-align: center;
    padding: 51px 0;
}
.footer_inner {
    font-family: var(--primary-fonts);
    font-size: 28px;
}
.footer_telephone {
    font-size: 40px;
    color: var(--acent);
    line-height: 2;
    font-weight: 700;
}
.footer_responsive {
    color: var(--acent);
    
}
/* footer_address_section */
section#footer_address_section {
    text-align: center;
    background: #23262D;
    padding: 24px 0;
    color:var(--text)
}
/* finished the site */