/* remove margin and padding */
*{
    margin:0;
    padding:0;
}
/* fonts */
@font-face {
    font-family: 'righteousregular';
    src: url('../webfonts/Righteous-Regular.woff2') format('woff2'),
         url('../webfonts/Righteous-Regular.woff') format('woff');
         url('../webfonts/Righteous-Regular.ttf') format('ttf');
         url('../webfonts/Righteous-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

/* variable for color */
:root{
    --primary: #000;
    --secondary:#f6d601;
    --text:#fff;
    --acent:#3e3e3e;
    /* font variable */
    --primary-fonts:"righteousregular", cursive;
    --secondary-fonts:"popins", sens-serif;
}
.section-padding{
    padding: 7% 0;   
}
.container{
    width: 1140px;
    margin:0 auto;
}
/* headerpart */
#headerpart {
    width: 85px;
    padding: 4% 6%;
}
.header-left {
    width: 50%;
    float: left;
}
.header-right {
    width: 50%;
    float: right;
    text-align: right;
}
/* menu */
.menu ul li {
    display: inline-block;
    padding: 0 10px;
}
ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: .3s all;
}
.menu ul li a:hover {
    color: #f6d601;
}
a.Sign.in-btn {
    font-size: 18px !important;
    text-transform: capitalize!important;
    background-color: #f6d601;
    text-align: center;
    padding: 11px 21px;
    border-radius: 50px;
}
a.Sign.in-btn:hover {
    color:var(--text) !important;
}
a.Sign.in-btn i {
    color:var(--primary);
    padding: 0 8px;
}
a.Sign.in-btn i:hover {
    color:var(--text);
}
/* banner_section */
#banner_section {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: top;
    text-align: center;
    color: #fff;
    font-family: var(--primary);
    padding: 11% 0;
}
.title-primary{
    font-family: var(--primary-fonts);
    font-size: 60px;
    padding-bottom: 28px;
    line-height: 90px;
    font-weight: bold;
    font-weight: 700;
}
.title-secondary {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
}
.content-inner h3 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #f6d601;
}
.content-inner p,.variety_inner p {
    font-size: 20px;
    padding-bottom: 7%;
    line-height: 1.3em;
    font-family: var(--primary-fonts);
}

a.btn-read {
    padding: 17px 55px;
    color: #000;
    background: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.7s all;
    font-family:var(--primary-fonts)
}
a.btn-read:hover {
    background-color:#f6d601;
    border-radius: 30px;
}
/* variety of cars */
secetion#variety_of_car {
    text-align: center;
    font-family: var(--primary-fonts);
}
.car {
    float: left;
    width: 33%;
    padding-bottom: 7%;
}
.cars_name {
    float: left;
    width: 33%;
    padding: 2% 0;
    background-color: var(--secondary);
    margin-top: 2%;
}